apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  creationTimestamp: null
  name: odigos-autoscaler-leader-election
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: odigos-leader-election-role
subjects:
- kind: ServiceAccount
  name: odigos-autoscaler
