apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: odiglet
rules:
- apiGroups:
  - odigos.io
  resources:
  - collectorsgroups
  - collectorsgroups/status
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resourceNames:
  - effective-config
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
