apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
  name: odigos.v0.0.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions: {}
  description: Automatic distributed tracing with OpenTelemetry and eBPF
  displayName: Odigos
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - OpenTelemetry
  - eBPF
  - tracing
  - observability
  links:
  - name: Odigos
    url: https://odigos.io
  - name: Odigos on Github
    url: https://github.com/odigos-io/odigos
  maintainers:
  - email: mike@odigos.io
    name: Mike Dame
  maturity: alpha
  provider:
    name: Odigos
    url: https://odigos.io
  version: 0.0.0
