apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
  name: odigos-operator.v0.0.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: Odigos is the Schema for the odigos API
      displayName: Odigos
      kind: Odigos
      name: odigos.operator.odigos.io
      specDescriptors:
      - description: APIKey is an API Key for Odigos Cloud
        displayName: APIKey
        path: apiKey
      - description: OnPremToken is an optional enterprise token for Odigos Enterprise.
        displayName: On Prem Token
        path: onPremToken
      statusDescriptors:
      - description: Conditions store the status conditions of the Odigos instances
        displayName: Conditions
        path: conditions
      version: v1alpha1
  description: Odigos enables automatic distributed tracing with OpenTelemetry and
    eBPF
  displayName: Odigos Operator
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - OpenTelemetry
  - eBPF
  - otel
  - tracing
  - observability
  links:
  - name: Odigos Operator
    url: https://odigos-operator.domain
  maintainers:
  - email: mike@odigos.io
    name: Mike Dame
  maturity: alpha
  provider:
    name: Odigos
    url: https://odigos.io
  version: 0.0.0
