name: Check links

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  check-links:
    strategy:
      matrix:
        dockerfile: ['Dockerfile', 'Dockerfile.rhel']
        service: ['autoscaler', 'scheduler', 'instrumentor', 'collector', 'odiglet', 'ui']
        include:
          - service: autoscaler
            runner: ubuntu-latest
            summary: "Autoscaler for Odigos"
            description: "Autoscaler manages the installation of Odigos components."
          - service: scheduler
            runner: ubuntu-latest
            summary: "Scheduler for Odigos"
            description: "Scheduler manages the installation of OpenTelemetry Collectors with Odigos."
          - service: instrumentor
            runner: ubuntu-latest
            summary: "Instrumentor for Odigos"
            description: "Instrumentor manages auto-instrumentation for workloads with Odigos."
          - service: collector
            runner: large-runner
            summary: "Odigos Collector"
            description: "The Odigos build of the OpenTelemetry Collector."
          - service: odiglet
            runner: ubuntu-latest
            summary: "Odiglet for Odigos"
            description: "Odiglet is the core component of Odigos managing auto-instrumentation. This image requires a root user to load and manage eBPF programs."
          - service: ui
            runner: ubuntu-latest
            summary: "UI for Odigos"
            description: "UI provides the frontend webapp for managing an Odigos installation."
    runs-on: ubuntu-22.04
    steps:
    - name: log value
      run: |
        echo "${{ matrix.dockerfile }} ${{ matrix.service }} ${{ matrix.summary }} ${{ matrix.description }} ${{ matrix.runner }}"
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: lycheeverse/lychee-action@v1.10.0
      with:
        args: >-
          -v -n "*.md" "**/*.md" "**/*.mdx"
          --exclude "http://localhost*"
          --exclude "^https://logs-prod.*"
          --exclude ".*your-account.*"
          --exclude ".*qryn.local.*"
        fail: true
